body {
  background-color: darkgray;
}
.wrapper {
  display: grid;
  grid-template-columns: 65vw 34vw;
  grid-template-rows: 60vh 40vh;
  grid-column-gap: 1vw;
  grid-template-areas: "screen content"
                       "carousel carousel";
}

.screen {
  /* grid-area: screen; */
  background-color: green;
  text-align: center;
}

.screenContainer {
  width: 85%;
  height: 100%;
  margin: 0 auto ;
  background-color: red;
}

.content {
  grid-area: content;
  background-color: blue;
}

.carousel {
  grid-area: carousel;
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-areas: "leftButton carouselContent rightButton"; 
}

.carouselContent {
  grid-area: carouselContent;
  width: 100%;
  margin: 1em auto;
  background-color: grey;
}

.left {
  grid-area: leftButton;
  display: flex;
  align-items: center;
  /* flex and align moves .leftbutton to center  */
}

.leftButton {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  background: none;
}

.right {
  grid-area: rightButton;
  display: flex;
  align-items: center;
}

.rightButton {
  align-content: end;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  background: none;
}

img {
  max-width: 90%;
  margin: 0 auto;
}


