@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background: linear-gradient(120deg, #000000 0%, rgba(77,86,92,1) 10%, #000000 20%, rgba(77,86,92,1) 30%, #000000 40%, rgba(77,86,92,1) 50%, #000000 60%, rgba(77,86,92,1) 70%, #000000 80%, rgba(77,86,92,1) 90%, #000000 100%);
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 52vw 48vw;
  grid-template-rows: 8vh 50vh 30vh 12vh;
  /* grid-row-gap: 1vw; */
  grid-template-areas: " previous previous "
                       "screen content"
                       "carousel carousel"
                       " next next ";
}

.previous{
  grid-area: previous;
  margin: 0;
  text-align: center;
}

.prevButton {
 color:white;
 background-color: transparent;
 border: transparent;
 font-size: 2.4em;
 height: 70%;
}

.screen {
  /* Top left side of viewport */
  text-align: center;
}

.content {
  /* Top right side of the viewport */
  grid-area: content;
  width: 90%;
  height: 97%;
  margin: 0;
}

.contentContainer{
  font-size: 1.03em;
  height: inherit;
  width: inherit;
  background-color: #f2f3f4;
  padding: 0.5em 1em ;
  line-height: 140%;
}

.paragraph {
  font-weight: 500;
}

.paragraph2 {
  font-weight: normal;
  font-size: 0.85em;
}

.content .headline,
.content .paragraph2 {
  display: inline;
}

.carousel {
  /* bottom half of the viewport */
  grid-area: carousel;
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-areas: "leftButton carouselContent rightButton"; 
}

.carouselContent {
  /* The carousel and slide portion of the grid */
  grid-area: carouselContent;
  width: 95%;
  height: 88%;
  margin: 1em auto;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: #a9a9b0;
}
  .left {
  /* left end of carousel grid */
  grid-area: leftButton;
  display: flex;
  align-items: center;
  /* flex and align moves .leftbutton to center  */
}

.leftButton {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  background: none;
}

.right {
  /* right end of carousel grid */
  grid-area: rightButton;
  display: flex;
  align-items: center;
}

.rightButton {
  align-content: end;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  background: none;
}

.next{
  grid-area: next;
  margin: 0;
  text-align: center;
}

.nextButton {
  position: absolute;
  bottom: 0;
 color:white;
 background-color: transparent;
 border: transparent;
 font-size: 2.4em;
}

img {
  /* Styling for carousel slides */
  max-width: 85%;
  /* max-height:  */
  margin: 0 auto;
}


